
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 215px;
  background: #112c38;
}

.container {
  padding-top: 50rem;
  padding-bottom: 1rem;
  padding: 3%;
  width: 80%;
  height: 30%;
  margin: 0 auto;
  background: #0d2731;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  gap: 0.5rem;

}

.container h1 {
  color: #fff;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: var(--mb-0-5);
  color: var(--text-color);
}

form input {
  width: 100%;
  padding: var(--mb-0-75);
  margin-bottom: var(--mb-1);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

form button {
  background: var(--first-color);
  border: none;
  padding: var(--mb-0-75) var(--mb-1-5);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  width: 30%;
  margin: 0 auto;
  display: block;
}

#orders-container,
#products-container,
#gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;
}

.card {
  background: var(--container-color);
  padding: var(--mb-1);
  border-radius: 8px;
  width: calc(25% - 1rem); 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.card h3,
.card p,
.card ul {
  color: var(--text-color);
  margin: var(--mb-0-5) 0;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: var(--mb-0-5);
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card button {
  background: var(--first-color);
  border: none;
  padding:2%;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  width: 50%;
  margin: 1px auto;
  display: block;
}
