* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
    padding: 3%;
    width: 50%;
    margin: 0 auto;
    background: #0d2731;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    padding: 20px;
    color: #fff;
    text-align: center;
}

.container h2 {
    color: #fff;
    text-align: right;
}


#cart-items div {
    background: var(--container-color);
    margin-bottom: var(--mb-1);
    padding: var(--mb-0-75);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-items h3,
#cart-items p {
    margin: 0;
    color: var(--text-color);
}

#cart-items button {
    background: var(--first-color);
    border: none;
    padding: var(--mb-0-5) var(--mb-1);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

form {
    background: var(--container-color);
    padding: var(--mb-1-5);
    border-radius: 8px;
    margin-top: var(--mb-2);
}

form label {
    display: block;
    margin-bottom: var(--mb-0-5);
    color: var(--text-color);
}

form input {
    width: 100%;
    padding: var(--mb-0-75);
    margin-bottom: var(--mb-1);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

form button {
    background: var(--first-color);
    border: none;
    padding: var(--mb-0-75) var(--mb-1-5);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    font-weight: var(--font-bold);
}
